/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #2B1809;
    --black: #CDBAA5;
    --gray: white;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Poppins", sans-serif;
  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
     padding-top:13px;
    height: 105px;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
    border-radius: 15px;
    width: fit-content;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 1000px) {
    .nav{
        max-height: 75px;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
      margin-top: 15px;
        padding: 15px;
        background-color: #2B1809 ;
        color: white;
        height: 50px;
  

    }

    .hamb{
        display: none;
    }
}

benefits li {display: inline;}

main fieldset {border-radius: 9px;}
main {text-align: center; padding-left: 20%; padding-right: 20%; display: inline-block; }
.required_line_required_asterisk {color: red;}

requestaquote {text-align: center;}

#requestaquote {padding-top: 5%; width: 400px; height: 600px; border-radius: 9px; }

.map {width: 395px; height: 275px;}

requestaquote > form {padding-top: 20px; width: 400px; margin: auto;}

#benefits {font-family: 'Foldit', cursive;
    font-family: 'Fredericka the Great', cursive; font-size: 30px; padding-left: 20%; }

h5 {font-size: 50px; 
font-family: 'Foldit', cursive;
    font-family: 'Fredericka the Great', cursive; font-weight: normal;}

.column { 
    height: 100%; 
    float: left;
    width: 30%;
    padding-left: 20;
    display: flex;
    justify-content: space-around;
    }


.column1 {float: right;
width: 75%;margin-right: -6%}

#nighttruck {border-radius: 50px; position: auto; max-width: 80%; margin-left: 10%;}


#testimonial1 {font-family: 'Kalam', cursive; padding-left: 10%; padding-right: 10%; }

.material-symbols-outlined {color: gold; 
}

#jrquote {padding-left: 8%;}

#drivereq {padding-left: 25%}

#samsara {max-width: 100%;}
#prepass {max-width: 100%;}

#drivereq {padding-top: 10%;font-size: 27px;}
.drivereq {border-radius: 7px; align-items: center;}

#fieldseteq {padding-left: 10px}
